<div class="row justify-content-center">
    <div class="list col-md-10 col-sm-12">
        <div class="fixed" [class.done]="listState.done">
            <h3>Veículos a venda</h3>
            <div class="filters">
                <div class="row">
                    <div class="form-group col-2">
                        <input type="number" class="form-control" [(ngModel)]="query.year" (keyup.enter)="search()" placeholder="Ano">
                    </div>
                    <div class="form-group col-3">
                        <input class="form-control" [typeaheadMinLength]="0" [typeahead]="colors" (keyup.enter)="search()" (typeaheadOnSelect)="query.colorId=$event.item.id; search()" [(ngModel)]="queryClient.colorName" typeaheadOptionField="name" placeholder="Cor"/>
                    </div>
                    <div class="form-group col-3">
                        <input class="form-control" [typeaheadMinLength]="0" [typeahead]="brands" (keyup.enter)="loadModels($event.item.id); search()" (typeaheadOnSelect)="query.brandId=$event.item.id; loadModels($event.item.id); search()" [(ngModel)]="queryClient.brandName" typeaheadOptionField="name" placeholder="Marca"/>
                    </div>
                    <div class="form-group col-3">
                        <input class="form-control" [typeaheadMinLength]="0" [typeahead]="models" (keyup.enter)="search()" (typeaheadOnSelect)="query.modelId=$event.item.id; search()" [(ngModel)]="queryClient.modelName" typeaheadOptionField="name" placeholder="Modelo"/>
                    </div>
                    <div  class="form-group col-1 ml-auto">
                        <svg class="bi bi-search pointer" (click)="search()" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="feedback">
                {{ listState.loading ? 'Carregando...' : '' }}
                {{ listState.noItems ? 'Nenhum veículo' : '' }}
            </div>
        </div>
        <div class="row cards card-group" *ngIf="listState.done">
            <div class="announcement" *ngFor="let announcement of announcements">
                <div class="card border-success mb-3">
                    <div class="header card-header bg-transparent border-success">
                        <h5 class="card-title text-success">R$ {{ announcement.priceSale | number: '1.2-2' }}</h5>
                        <div class="demo-color" tooltip="Cor" [style.background-color]="announcement.vehicleColorHex"></div>
                    </div>
                    <img [src]="getPhotoUrl(announcement.vehicleId, announcement.vehiclePhotoDate)" />
                    <div class="card-body">
                        <span class="card-text text-info"><strong>Ano:</strong> {{ announcement.vehicleYear }}</span><br />
                        <span class="card-text text-info"><strong>Modelo:</strong> {{ announcement.vehicleModelName }}</span><br />
                        <span class="card-text text-info"><strong>Marca:</strong> {{ announcement.vehicleBrandName }}</span><br />
                        <span class="card-text text-info"><strong>Combustível:</strong> {{ announcement.vehicleFuelName }}</span><br/>
                        <span class="card-text text-info"><strong>Cor:</strong> {{ announcement.vehicleColorName }}</span>
                    </div>
                    <div class="card-footer row"> 
                        <button class="btn btn-light col align-self-end" (click)="purchase(announcement.id)">Comparar</button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="pagination" *ngIf="listState.done">
            <div>
                <select [(ngModel)]="query.limit" (change)="search()">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <pagination [boundaryLinks]="true" [(ngModel)]="query.page" [(itemsPerPage)]="query.limit" [totalItems]="listState.totalRows" (pageChanged)="refresh()"
                [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
    </div>
</div>