@import '../../../styles/app-lists.css';

table td:nth-child(3), table td:nth-child(4) { word-break: break-word; }

.list {
    margin-top: 0px;
}

.fixed {
    padding-top: 25px;
    background-color: rgb(223, 237, 255);
    position: sticky;
    z-index: 4;
    top: 64px;
}

.fixed.done {
    border-bottom: 1px solid rgb(168, 168, 168);
}

.cards {
    margin: 15px 0px;
    justify-content: space-around;
}

.announcement .card {
    width: 300px;
}

.announcement h5 {
    margin-bottom: 0;
}

.announcement .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.demo-color {
    width: 50px;
    height: 20px;
    border: 1px solid rgb(92, 92, 92);   
}

.card-footer button {
    margin: auto 10px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table tr td:last-child {
    color: red;
    text-align: center;
}