.list {
    margin-top: 25px;
}

.list .feedback {
    text-align: center;
    font-size: 15pt;
}

table {
    max-height: calc(95vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
}

table thead th {
    background-color: white;
    position: sticky;
    top: 0;
}

table tbody td {
    cursor: pointer;
    vertical-align: middle;
}

table thead {
    width: 100%;
}