@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-snackbar/bundles/style.css';

body { 
    background-color: rgb(223, 237, 255);
}

table {
    background-color: white;
}
.hidden { display: none !important; }
.pointer { cursor: pointer; }
.modal-app {
    padding: 15px; 
    max-width: 800px;
    border-radius: 5px;
    vertical-align: middle;
    background-color: white; 
    overflow: auto;
}

.top-30 {
    top: 30%;
}

.modal-app>div { border: none; }

.datepicker,
.checkbox {
    display: flex;
    align-items: center;    
    margin-bottom: 1rem;
}
.datepicker input,
.checkbox input {
    margin: 0 15px;
}