@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-snackbar/bundles/style.css';

body { 
    background-color: rgb(223, 237, 255);
}

table {
    background-color: white;
}
.hidden { display: none !important; }
.pointer { cursor: pointer; }
.modal-app { 
    top: 30%;
    padding: 15px; 
    border-radius: 5px;
    vertical-align:middle;
    background-color: white; 
}

.modal-app>div { border: none; }

.checkbox {
    display: flex;
    align-items: center;    
    margin-bottom: 1rem;
}

.checkbox label {
    margin: 0 5px;
}