@import '../../../styles/app-lists.css';

table th:nth-child(1), table td:nth-child(1) { width: 10%; }
table th:nth-child(2), table td:nth-child(2) { width: 15%; }
table th:nth-child(3), table td:nth-child(3) { width: 15%; }
table th:nth-child(4), table td:nth-child(4) { width: 10%; }
table th:nth-child(5), table td:nth-child(5) { width: 10%; }
table th:nth-child(6), table td:nth-child(6) { width: 15%; }
table th:nth-child(7), table td:nth-child(7) { width: 15%; }
table th:nth-child(8), table td:nth-child(8) { width: 10%; }

table td:nth-child(5), 
table td:nth-child(6), 
table td:nth-child(7) 
{ word-break: break-word; }

table {
    max-height: calc(95vh - 190px) !important;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}