<div class="row justify-content-center">
    <div class="list col-md-11 col-sm-12">
        <div class="filter">
            <div class="row justify-content-between">
                <div class="form-group col-1">
                    <svg class="bi bi-plus-circle-fill pointer" style="color: green; margin-left: 5px" [routerLink]="['new']" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd"/>
                    </svg>
                </div>
                <div class="form-group col" style="max-width: 11%;">
                    <input type="number" class="form-control" (keyup.enter)="search()" [(ngModel)]="query.year" placeholder="Ano"/>
                </div>
                <div class="form-group col" style="max-width: 22%;">
                    <input type="date" class="form-control" (change)="search()" (keyup.enter)="search()" [(ngModel)]="clientFilter.dateSaleStr" placeholder="Venda"/>
                </div>
                <div class="form-group col-2">
                    <input class="form-control" [typeahead]="brands" (keyup.enter)="search()" (typeaheadOnSelect)="query.brandId=$event.item.id; search()" [(ngModel)]="clientFilter.brandName" typeaheadOptionField="name" placeholder="Marca"/>
                </div>
                <div class="form-group col-2">
                    <input class="form-control" [typeahead]="models" (keyup.enter)="search()" (typeaheadOnSelect)="query.modelId=$event.item.id; search()" [(ngModel)]="clientFilter.modelName" typeaheadOptionField="name" placeholder="Modelo"/>
                </div>
                <div class="checkbox col-2">
                    <input type="checkbox" id="include-sold" (change)="search()" [(ngModel)]="query.includeSold"/>
                    <label for="include-sold">Incluir Vendidos</label>
                </div>
                <div  class="form-group col-1">
                    <svg class="bi bi-search pointer" (click)="search()" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="feedback">
            {{ listState.loading ? 'Carregando...' : '' }}
            {{ listState.noItems ? 'Nenhum anúncio' : '' }}
        </div>
        <table *ngIf="listState.done" class="table table-bordered table-striped table-hover">
            <thead>
                <th>Venda</th>
                <th>Preço Compra</th>
                <th>Preço Venda</th>
                <th>Ano</th>
                <th>Cor</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Remover</th>
            </thead>
            <tbody>
                <tr *ngFor="let announcement of announcements">
                    <td (click)="open(announcement.id)">{{ formatDate(announcement.dateSale) }}</td>
                    <td (click)="open(announcement.id)">R$ {{ announcement.pricePurchase | number: '1.2-2' }}</td>
                    <td (click)="open(announcement.id)">R$ {{ announcement.priceSale | number: '1.2-2' }}</td>
                    <td (click)="open(announcement.id)">{{ announcement.vehicleYear }}</td>
                    <td (click)="open(announcement.id)">{{ announcement.vehicleColorName }}</td>
                    <td (click)="open(announcement.id)">{{ announcement.vehicleModelName }}</td>
                    <td (click)="open(announcement.id)">{{ announcement.vehicleBrandName }}</td>
                    <td>
                        <svg class="bi bi-trash-fill" (click)="remove(announcement.id)" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z" clip-rule="evenodd"/>
                        </svg>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination" [class.hidden]="!listState.done">
            <div>
                <select [(ngModel)]="query.limit" (change)="search()">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <pagination [boundaryLinks]="true" [(ngModel)]="query.page" [(itemsPerPage)]="query.limit" [totalItems]="listState.totalRows" (pageChanged)="refresh()"
                [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
    </div>
</div>