<div class="row justify-content-center">
    <div class="col-md-10 col-sm-12 contact">
        <div class="row">
            <span class="col-6">Telefone: </span>
            <span class="col-6">(XX) X XXXX-XXXX</span>
        </div>
        <div class="row">
            <span class="col-6">Email: </span>
            <span class="col-6">email@xxx.com.br</span>
        </div>
        <div class="row">
            <span class="col-6">Cidade: </span>
            <span class="col-6">ZZZ</span>
        </div>
        <div class="row">
            <span class="col-6">Rua: </span>
            <span class="col-6">NNNN</span>
        </div>
        <div class="row">
            <span class="col-6">Número: </span>
            <span class="col-6">123</span>
        </div>
        <div class="row">
            <span class="col-6">Bairro: </span>
            <span class="col-6">XXX</span>
        </div>
    </div>
</div>