<div class="contact">
    <ul>
        <li>
            <a href="tel:5547954892589">
                <i class="fas fa-phone-alt"></i>
                (47) 9 5489-2589
            </a>
        </li>
        <li>
            <a href="mailto:email@vehicles.com.br">
                <i class="fas fa-envelope"></i>
                email@vehicles.com.br
            </a>
        </li>
        <li>
            <i class="fas fa-map-marker-alt"></i>
            R. Manoel de Almeisa, 895 - St. Central, São Paulo - SP, 548952-548
        </li>
    </ul>
</div>