<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
  <h5 class="navbar-brand">Questor Veículos</h5>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Início</a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" [routerLink]="['/announcements']" routerLinkActive="active">Anúncios</a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" [routerLink]="['/reservations']" routerLinkActive="active">Reservas</a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" [routerLink]="['/vehicles']" routerLinkActive="active">Veículos</a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" [routerLink]="['/models']" routerLinkActive="active">Modelos</a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" [routerLink]="['/brands']" routerLinkActive="active">Marcas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contato</a>
      </li>
    </ul>
  </div>
  <span *ngIf="user" class="user row">
    <h5 class="detail">Usuário: {{ user.name }}</h5>
    <svg (click)="authService.logout()" class="bi bi-box-arrow-in-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8.146 11.354a.5.5 0 010-.708L10.793 8 8.146 5.354a.5.5 0 11.708-.708l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0z" clip-rule="evenodd"/>
      <path fill-rule="evenodd" d="M1 8a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9A.5.5 0 011 8z" clip-rule="evenodd"/>
      <path fill-rule="evenodd" d="M13.5 14.5A1.5 1.5 0 0015 13V3a1.5 1.5 0 00-1.5-1.5h-8A1.5 1.5 0 004 3v1.5a.5.5 0 001 0V3a.5.5 0 01.5-.5h8a.5.5 0 01.5.5v10a.5.5 0 01-.5.5h-8A.5.5 0 015 13v-1.5a.5.5 0 00-1 0V13a1.5 1.5 0 001.5 1.5h8z" clip-rule="evenodd"/>
    </svg>
  </span>
  <span *ngIf="!user" class="user">
    <svg [routerLink]="['/login']" class="bi bi-people-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"/>
      <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
      <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd"/>
    </svg>
  </span>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>