<div class="row justify-content-center">
    <div class="list col-md-10 col-sm-12">
        <div class="filters">
            <div class="row">
                <div  class="form-group col-1">
                    <svg class="bi bi-plus-circle-fill pointer" style="color: green; margin-left: 5px" [routerLink]="['new']" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd"/>
                    </svg>
                </div>
                <div class="form-group col-2">
                    <input type="number" class="form-control" (keyup.enter)="filter()" [(ngModel)]="query.year" placeholder="Ano"/>
                </div>
                <div class="form-group col-2">
                    <input class="form-control" [typeahead]="colors" (keyup.enter)="filter()" (typeaheadOnSelect)="query.colorId=$event.item.id; filter()" [(ngModel)]="colorName" typeaheadOptionField="name" placeholder="Cor"/>
                </div>
                <div class="form-group col-3">
                    <input class="form-control" [typeahead]="brands" (keyup.enter)="filter()" (typeaheadOnSelect)="query.brandId=$event.item.id; filter()" [(ngModel)]="brandName" typeaheadOptionField="name" placeholder="Marca"/>
                </div>
                <div class="form-group col-3">
                    <input class="form-control" [typeahead]="models" (keyup.enter)="filter()" (typeaheadOnSelect)="query.modelId=$event.item.id; filter()" [(ngModel)]="modelName" typeaheadOptionField="name" placeholder="Modelo"/>
                </div>
                <div class="form-group col-1 ml-auto">
                    <svg class="bi bi-search pointer" (click)="filter()" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="feedback">
            {{ listState.loading ? 'Carregando...' : '' }}
            {{ listState.noItems ? 'Nenhum veículo' : '' }}
        </div>
        <table *ngIf="listState.done" class="table table-striped table-bordered table-hover">
            <thead>
                <th>Ano</th>
                <th>Cor</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Combustível</th>
                <th>Remover</th>
            </thead>
            <tbody>
                <tr *ngFor="let vehicle of vehiclesFiltred">
                    <td (click)="open(vehicle.id)">{{ vehicle.year }}</td>
                    <td (click)="open(vehicle.id)">{{ vehicle.colorName }}</td>
                    <td (click)="open(vehicle.id)">{{ vehicle.brandName }}</td>
                    <td (click)="open(vehicle.id)">{{ vehicle.modelName }}</td>
                    <td (click)="open(vehicle.id)">{{ vehicle.fuelName }}</td>
                    <td>
                        <svg class="bi bi-trash-fill" (click)="remove(vehicle.id)" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z" clip-rule="evenodd"/>
                        </svg>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ngx-snackbar position="bottom-center" max="3"></ngx-snackbar>